.faq {
    width: 100%;
    border-top: 1px solid #393939;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 150px 0 50px 0;
}

.faqSubtitle {
    color: #C30000;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.container p:nth-child(2) {
    color: rgba(235, 235, 235, 1);
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.answer p:nth-child(1) {
    color: rgba(195, 0, 0, 1);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    margin-top: 42px;
}
.answer p:nth-child(2) {
    color: rgba(235, 235, 235, 1);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    margin-top: 4px;
    line-height: 26px;
}

.containerBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showAllButton {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(195, 0, 0, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .7s background-color;
}

.showAllButton:hover {
    background-color: darken(rgba(195, 0, 0, 1), 10%)
}

@media screen and (max-width: 1220px) {
    .container {
        margin: 75px 0 50px 0;
        padding: 0 0 50px 0;
    }
    .faq {
        padding: 0 10px;
    }
  }