.advantages {
    width: 100%;
    border-top: 1px solid #393939;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 150px 0 50px 0;
}

.advantagesSubtile {
    color: #C30000;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.cards {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container p:nth-child(3) {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: gray;
    margin-top: 50px;
}

//card

.card {
    width: 379px;
    height: 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    margin-top: 15px;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

@media screen and (max-width: 1220px) {
    .advantages {
        padding: 0 10px;
    }
}

@media screen and (max-width: 772px) {
    .container {
        margin: 75px 0 50px 0;
        padding: 0 0 50px 0;
    }
    .cards {
        justify-content: center;
    }
}