.header {
    width: 100%;
    height: 1080px;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.container img {
    width: 100%;
    height: 70px;
}

.name {
    text-align: center;
}

.nav {
    justify-content: space-between;
    display: flex;
    width: 100%;
    z-index: 10;
    padding: 0 24px;
}

.name p {
    font-family: 'JOST', sans-serif;
    color: rgba(235, 235, 235, 1);
    font-weight: 700;
    font-size: 24px;
    height: 25px;
}

.name p:nth-child(2) {
    font-family: 'Gogol', sans-serif;   
    font-weight: 400;
    font-size: 20px;
    color: rgba(195, 0, 0, 1);
    height: 10px;
}

.info {
    display: flex;
    align-items: center;
}

.number {
    margin-left: 72px;
}

.number p,
.address p {
    font-family: 'JOST', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.number,
.address {
    display: flex;
    flex-direction: column;
}

.number p:nth-child(1),
.address p:nth-child(1) {
    color: rgba(132, 132, 132, 1);
}

.number p:nth-child(2),
.address p:nth-child(2) {
    color: rgba(235, 235, 235, 1);
}

.slider {
    top: 0;
    width: 100%;
    position: absolute;
}

.imgContainer {
    width: 100%;
    display: flex;
    position: relative;
    align-items: end;
    height: 100%;
    margin-left: 340px;
}

.imgContainer img {
    width: auto;
    height: 1080px;
    max-height: 1080px;
}

.text {
    margin-top: 287px;
    position: relative;
    z-index: 11;
    width: 407px;
}

.text p:nth-child(1) {
    line-height: 125.97px;
    font-size: 85px;
    font-weight: 600px;
    font-family: 'Oswald', sans-serif;
    color: #EBEBEB;
}

.text span {
    line-height: 125.97px;
    font-size: 85px;
    font-weight: 600px;
    font-family: 'Oswald', sans-serif;
    color: rgba(195, 0, 0, 1);
}

.text p:nth-child(2) {
    line-height: 36px;
    font-size: 24px;
    font-weight: 400px;
    font-family: 'Oswald', sans-serif;
    color: #EBEBEB;
    width: 357px;
}

.buttons {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    background-color: #EBEBEB1A;
    height: 87px;
    width: 409px;
    display: flex;
    align-items: center;
}

.links a {
    margin: 0 15px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    color: #EBEBEB;
    cursor: pointer;
    z-index: 11;
    transition: .7s color;
}

.links a:hover {
    color: rgba(195, 0, 0, 1);
}

.record {
    z-index: 1000;
}

.record button {
    width: 179px;
    height: 49px;
    border-radius: 30px;
    padding: 10px, 39px, 10px, 39px;
    gap: 10px;
    background-color: #C30000;
    cursor: pointer;
    transition: .7s background-color;
    font-family: 'jost', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #EBEBEB;
}

.record button:hover {
    background-color: darken(#9B0000, 10%)
}