
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

button,
input,
select {
    outline: none;
    border: none;
}

body {
    background-color: rgba(27, 27, 27, 1);
    color: #fff;
}

@font-face {
    font-family: 'Gogol';
    src: url('src/assets/font/Gogol Regular/Gogol Regular.ttf') format('truetype');
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-pagination {
    top: 270px !important; 
    left: 340px !important;
    display: flex;
    flex-direction: column;
}

.swiper-pagination-bullet {
    margin-top: 10px !important;
    background-color: #EBEBEB99 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #C3000099 !important;
}