
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: rgba(27, 27, 27, 1);
    color: #fff;
}

@font-face {
    font-family: 'Gogol';
    src: url('src/assets/font/Gogol Regular/Gogol Regular.ttf') format('truetype');
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}