.testimonials {
    width: 100%;
    border-top: 1px solid #393939;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 150px 0 50px 0;
}

.testimonialsSubtitle {
    color: #C30000;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.container p:nth-child(2) {
    color: rgba(235, 235, 235, 1);
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.container p:nth-child(3) {
    color: rgba(132, 132, 132, 1);
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.testimonialsContainer {
    margin-top: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.swiperSlide {
    max-width: 360px;
}


.create {
    align-items: center;
    display: flex;
    justify-content: end;
    padding: 0 20px;
    margin-top: 20px;
}

.create button {
    background-color: rgba(173, 0, 10, 1);
    color: rgba(235, 235, 235, 1);
    font-weight: 500;
    font-size: 18px;
    border-radius: 20px;
    padding: 14px 30px;
    transition: .7s all;
    cursor: pointer;
    max-width: 276px;
    width: 100%;
  }
  
  .create button:hover {
    background-color: darken(rgba(173, 0, 10, 1), 10%);
  }

@media screen and (max-width: 1220px) {
    .swiperSlide {
        max-width: 100%;
    }
    .create {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        margin: 40px 0 0 0;
        padding: 0 0 0 0;
    }
    .testimonials {
        padding: 0 10px;
    }

  }