.Vacancy {
    flex: 1;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 20px 0 8px 0;
}

.vacancyBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.inputField {
    margin-top: 10px;
}

.inputField input {
    padding: 17px 10px;
    border: 1px solid rgba(195, 0, 0, 1);
    background-color: transparent;
    width: 380px;
    height: 60px;
    margin-top: 4px;
    color: rgba(132, 132, 132, 1);
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 14px;
    border-radius: 15px;
}

.inputField p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(235, 235, 235, 1);
}

.input {
    width: 380px;
    height: 60px;
    margin-top: 4px;
    padding: 17px 5px 17px 5px;
    background-color: rgba(195, 0, 0, 1);
    color: #fff !important;
    font-size: 18px !important;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    border-radius: 15px !important;
}

.input svg {
    color: #fff !important;
}

.input fieldset {
    border: none !important;
}


.checkField {
    margin-top: 20px;
}

.gg {
    display: flex;
    align-items: center;
}

.checkField input {
    padding: 0 !important;
}

.checkField span {
    color: rgba(195, 0, 0, 1) !important;
    padding: 0 !important;
}

.selection p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #EBEBEB;
    margin-top: 15px;
    font-family: 'Jost', sans-serif;
    word-break: break-all;
}


.checkField p {
    color: rgba(132, 132, 132, 1);
    font-size: 16px;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    margin-left: 4px;
}

.buttonField {
    margin-top: 14px;
}

.buttonField button {
    background-color: rgba(195, 0, 0, 1);
    padding: 10px 39px;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    color: rgba(235, 235, 235, 1);
    transition: .7s background-color;
    cursor: pointer;
}

.buttonField button:hover {
    background-color: darken(#9B0000, 10%)
}

.checkField .error {
    margin-top: 4px !important;
}

.error {
    color: red !important;
    margin-top: -12px !important;
}

.modelsSubtile {
    color: #C30000;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.form {
    max-width: 380px;
}

.buttonField {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0 0 80px 0;
        padding: 0 10px;
    }
    .vacancyBody {
        display: inline-block;
        max-width: 100%;
    }
    .form {
        margin-left: 0;
        max-width: 100%;
    }
    .inputField {       
        width: 100%
    }
    .inputContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }
    .inputField input{
        width: 100%;
    }
    .input {
        width: 100%;
    }
    .checkField {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }
    .checkField p {
        margin-left: 6px;
    }
    .title img {
        height: 100%;
    }
}