.banners {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 50px 0 50px 0;
}

.bannersContainer {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .banners {
        width: 100%;
        border-top: none;
    }
    .bannersContainer {
        padding: 0 0 0 10px;
        max-width: 100%;
        overflow-x: auto;
        overflow-x: overlay;
        scrollbar-width: thin;
        padding-bottom: 10px;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        padding: 25px 0 25px 0;
    }
}