.program {
    width: 100%;
    border-top: 1px solid #393939;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 150px 0 50px 0;
}

.programSubtitle {
    color: #C30000;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.container p:nth-child(2) {
    color: rgba(235, 235, 235, 1);
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.container p:nth-child(3) {
    color: rgba(132, 132, 132, 1);
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.programsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.swiperSlide {
    width: max-content;
}

@media screen and (max-width: 500px) {

    .swiper {
        .swiper-pagination {
            top: 500px;
            flex-direction: row;
        }
    }
}

@media screen and (max-width: 1220px) {
    .container {
        margin: 75px 0 50px 0;
        padding: 0 0 50px 0;
    }
    .program {
        padding: 0 5px 0 5px;
    }
    .programsContainer {
        align-items: center;
        justify-content: center;
    }
  }